<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='../static/style.css'>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'><h1>Should I be insulted?</h1></div>
    <p>
      Did someone say a mean thing to you on the Internet? Should you be offended, hurt and sad?<br>Paste the comment here and find out!
    </p>
    <div class='content center'>
      <form autocomplete="off" id="form">
          <div class="form-group">

    <input type="textarea" class="form-control" id="analyze-text" name="analyze-text" placeholder="Enter text here..." autofocus>

        <button id='analyze-button' class='btn btn-primary' type='button' onclick='analyze()'>Analyze</button>
  </div>

      </form>
    </div>
    <div class="center" id="result">
      <canvas id="chart"></canvas>
    </div>
    <div id="footer">
      <small>
        This is a machine learning model trained on data from the Jigsaw Toxic Comment Classification competition on <a href="https://www.kaggle.com/c/jigsaw-toxic-comment-classification-challenge/data">Kaggle</a> provided under <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a>. The object is to distinguish comments or tweets with unwelcome content from the nicer ones, all by the moral standards provided by the training data. For entertainment purposes only!        
        <br>
        Source code: <a href="https://github.com/peterahlstrom/NLP_toxic_classifier" target="_blank">github.com/peterahlstrom/NLP_toxic_classifier</a></small>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src='../static/client.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</body>
</html>